# ---------------------------------
# Common aliases
# ---------------------------------

alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias '?=man'
alias ls='ls -A'
alias ps-grep='ps aux | grep'


# ---------------------------------
# Git specific aliases
# ---------------------------------

alias g='git'
# Note: these aliases have been moved to .gitconfig


# ---------------------------------
# Python virtual env aliases
# ---------------------------------

# Create a virtualenv with python3 as the interpreter
# I usually name my virtualenv .venv
# alias venv='virtualenv -p /usr/local/bin/python3 .venv'
# alias vac='source .venv/bin/activate'


# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".aliases.local" ] && source ".aliases.local"
